<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
{% if session.get('logged_in') %}

    <div class="title-2">
        <b>Welcome,</b> {{ name }}
    </div>

    <br>

    <div class="flex-container">
        <div class="flex-contents">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}

            {% if level == 1 %}
                <h2>
                    <a href="/addnew">Add New Employee</a>
                </h2>
                <br>
                <h2>
                    <a href="/remove">Remove Employee</a>
                </h2>
                <br>
                <h2>
                    <a href="/list">List All Employees</a>
                </h2>
                <br>
                <h2>
                    <a href="/log_out">Log Out</a>
                </h2>
            {% endif %}

            {% if level == 2 %}
                <h2>
                    <a href="/list">List All Employees</a>
                </h2>
                <br>
                <h2>
                    <a href="/log_out">Log Out</a>
                </h2>
            {% endif %}

            {% if level != 1 and level != 2 %}
                <h2>
                    <a href="/log_out">Log Out</a>
                </h2>
            {% endif %}

        </div>
    </div>
{% endif %}
</body>
</html>