<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Employee</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="title-2">
    <b>Remove Employee</b>
</div>
<div class="flex-container">
    <div class="flex-contents">
        <h3>Enter the information of the employee you wish to remove:</h3>
        <br>
        <form action="{{ url_for('remove_employee') }}" method="POST">
            <input type="text" id="fname" name="fname" placeholder="first name">
            <br>
            <input type="text" id="lname" name="lname" placeholder="last name">
            <br>
            <input type="text" id="eid" name="eid" placeholder="employee id">
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>